.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featurePlatforms {
  max-width: 400px;
  height: 200px;

  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.featurePlatform {
  flex: 1 1 0;
  padding: 1rem;
}
